node_modules/
.pnpm-store/
.turbo/
dist/
out/
release/
coverage/
playwright-report/
test-results/
*.log
.DS_Store
Thumbs.db
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
*.obtracker
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
